#############################################################
# This file is managed by chezmoi, don't edit it directly !!!
#############################################################

path+=("${HOME}/bin")
path+=("${HOME}/.local/bin")

{{ if findExecutable "cargo" (list ".cargo/bin") }}
  path+=("${HOME}/.cargo/bin")
{{ end }}

