{{ $ageVersion := "1.1.1" -}}
["bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    path = "age/age"

{{ $ripgrepVersion := "14.1.0" -}}
["bin/rg"]
    type = "archive-file"
    url = "https://github.com/BurntSushi/ripgrep/releases/download/{{ $ripgrepVersion }}/ripgrep-{{ $ripgrepVersion }}-x86_64-unknown-linux-musl.tar.gz"
    path = "ripgrep-{{ $ripgrepVersion }}-x86_64-unknown-linux-musl/rg"

{{ $batVersion := "0.24.0" -}}
["bin/bat"]
    type = "archive-file"
    url = "https://github.com/sharkdp/bat/releases/download/v{{ $batVersion }}/bat-v{{ $batVersion }}-x86_64-unknown-linux-gnu.tar.gz"
    path = "bat-v{{ $batVersion }}-x86_64-unknown-linux-gnu/bat"

{{ $exaVersion := "0.10.0" -}}
["bin/exa"]
    type = "archive-file"
    url = "https://github.com/ogham/exa/releases/download/v{{ $exaVersion }}/exa-linux-x86_64-v{{ $exaVersion }}.zip"
    path = "bin/exa"

{{ $lazygitVersion := "0.40.2" -}}
["bin/lazygit"]
    type = "archive-file"
    url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygitVersion }}/lazygit_{{ $lazygitVersion }}_Linux_x86_64.tar.gz"
    path = "lazygit"

{{ $nvimVersion := "0.9.5" -}}
["bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/v{{ $nvimVersion }}/nvim.appimage"
    executable = true

