{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $proxy := promptStringOnce . "proxy" "Proxy Server" -}}

[data]
    email = {{ $email | quote }}
    proxy = {{ $proxy | quote }}
    work_server = {{ ne (index .chezmoi "username") "peter" }}
    omz_dir = "{{ .chezmoi.homeDir }}/.config/oh-my-zsh"
[diff]
    command = "vimdiff"
