# Plugins
# #######
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugis/tpm.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "https://github.com/romkatv/powerlevel10k.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/eza-dracula.zsh"]
    type = "archive-file"
    url = "https://github.com/dracula/exa/archive/master.zip"
    path = "exa-main/exa_colors.zshrc"


