# Tools
# #####
{{ $ageVersion := "1.1.1" -}}
[".local/bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    path = "age/age-keygen"

{{ $ripgrepVersion := "14.1.0" -}}
[".local/bin/rg"]
    type = "archive-file"
    url = "https://github.com/BurntSushi/ripgrep/releases/download/{{ $ripgrepVersion }}/ripgrep-{{ $ripgrepVersion }}-x86_64-unknown-linux-musl.tar.gz"
    path = "ripgrep-{{ $ripgrepVersion }}-x86_64-unknown-linux-musl/rg"

{{ $batVersion := "0.24.0" -}}
[".local/bin/bat"]
    type = "archive-file"
    url = "https://github.com/sharkdp/bat/releases/download/v{{ $batVersion }}/bat-v{{ $batVersion }}-x86_64-unknown-linux-gnu.tar.gz"
    path = "bat-v{{ $batVersion }}-x86_64-unknown-linux-gnu/bat"

{{ $ezaVersion := "0.18.6" -}}
[".local/bin/eza"]
    type = "archive-file"
    url = "https://github.com/eza-community/eza/releases/download/v{{ $ezaVersion }}/eza_x86_64-unknown-linux-musl.zip"
    path = "eza"

{{ $lazygitVersion := "0.40.2" -}}
[".local/bin/lazygit"]
    type = "archive-file"
    url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazygitVersion }}/lazygit_{{ $lazygitVersion }}_Linux_x86_64.tar.gz"
    path = "lazygit"

{{ $nvimVersion := "0.9.5" -}}
[".local/bin/nvim"]
    type = "file"
    url = "https://github.com/neovim/neovim/releases/download/v{{ $nvimVersion }}/nvim.appimage"
    executable = true

{{ $dustVersion := "0.9.0" -}}
[".local/bin/dust"]
    type = "archive-file"
    url = "https://github.com/bootandy/dust/releases/download/v{{ $dustVersion }}/dust-v{{ $dustVersion }}-x86_64-unknown-linux-musl.tar.gz"
    path = "dust-v{{ $dustVersion }}-x86_64-unknown-linux-musl/dust" 

# Plugins
# #######
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugis/tpm.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "https://github.com/romkatv/powerlevel10k.git"
    refreshPeriod = "168h"

[".config/oh-my-zsh/custom/exa-dracula.zsh"]
    type = "archive-file"
    url = "https://github.com/dracula/exa/archive/master.zip"
    path = "exa-main/exa_colors.zshrc"


