#############################################################
# This file is managed by chezmoi, don't edit it directly !!!
#############################################################

{{- with (index . "proxy") }}
export http_proxy={{ . }}
export https_proxy={{ . }}
{{ end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
