#############################################################
# This file is managed by chezmoi, don't edit it directly !!!
#############################################################

export PATH="~/.cargo/bin:$PATH"
export PATH="~/.local/bin/:$PATH"
export PATH="~/bin/:$PATH"
