#############################################################
# This file is managed by chezmoi, don't edit it directly !!!
#############################################################

[user]
	name = Peter Kuehne
	email = {{ .email }}
	signingkey = ~/.ssh/github_rsa
[core]
	editor = vim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	autocrlf = input
[color]
	ui = true
[alias]
	logdog = log --decorate --oneline --graph
	logdogsimple = log --decorate --oneline --graph --simplify-by-decoration
	d = difftool
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[init]
  defaultBranch = main
[push]
	default = current
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/peter/.ssh/allowed_signers

{{ with (index . "proxy") }}
# Proxy configuration
[http "https://github.com"]
    proxy = {{ . }}
[url "https://"]
    insteadOf = git://
{{ end }}

{{- if eq .work_server true }}
# Ignore untrusted certificates
[http]
	sslVerify = false
{{ end }}

