{{ with (index . "proxy") -}}
proxy={{ . }}
https-proxy={{ . }}
strict-ssl=false
registry=https://artlondon.dev.bloomberg.com/artifactory/api/npm/npm-repos
engine-strict=true
prefix=/home/pkuhne1/.npm
{{ end -}}
