[user]
	name = Peter Kuehne
	email = {{ .email | quote }}
	signingkey = 170A75E31F2F8DE3
[core]
	editor = vim
[commit]
	gpgsign = true
[gpg]
	#program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe
	program = gpg
