#############################################################
# This file is managed by chezmoi, don't edit it directly !!!
#############################################################

BASHRC_FILES="
{{ .chezmoi.homeDir }}/.bashrc_path
{{ .chezmoi.homeDir }}/.bashrc_alias
{{ .chezmoi.homeDir }}/.bashrc_ps1
{{ .chezmoi.homeDir }}/.bashrc_custom
{{ .chezmoi.homeDir }}/.bashrc_local
"

for FILE in $BASHRC_FILES
do
    if [[ -a "$FILE" ]]; then
        . "$FILE"
    fi
done

# clear
