#! /usr/bin/bash

# Check for zsh
if ! type zsh &> /dev/null; then
  echo "zsh needs to be installed"
  sudo apt install -y zsh
fi

# Install oh-my-zsh
if [ ! -d "{{ .omz_dir }}" ]; then
  echo "Installing oh-my-zsh"
  ZSH="{{ .omz_dir }}" sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

exit 0
