#! /bin/bash

echo "-- Checking for tmux installation"
which tmux > /dev/null 2>&1
if [[ $? -eq "1" ]]
then
  echo "?? tmux needs to be installed"
  sudo apt update && sudo apt install tmux
else
  echo "-- tmux is installed"
fi

echo "-- Installing tmux plugin manager"
TMUX_PLUGIN_DIR="{{ .chezmoi.homeDir }}/.tmux/plugins"
if [[ -d "${TMUX_PLUGIN_DIR}" ]]; then
  echo "-- Removing old install"
  rm -fr "${TMUX_PLUGIN_DIR}"
fi
git clone https://github.com/tmux-plugins/tpm "${TMUX_PLUGIN_DIR}/tpm"
GIT_EXIT_CODE=$?
if [[ $GIT_EXIT_CODE -eq 128 ]]; then
    GIT_EXIT_CODE=0
fi

exit $GIT_EXIT_CODE
