#! /bin/bash

echo "-- Checking for neovim installation"
which nvim > /dev/null 2>&1
if [[ $? -eq "1" ]]
then
  echo "?? neovim needs to be installed"
  sudo add-apt-repository ppa:neovim-ppa/stable
  sudo apt update && sudo apt install -y neovim
else
  echo "-- neovim is installed"
fi
