#! /bin/bash

echo "-- Checking for neovim installation"
which nvim > /dev/null 2>&1
if [[ $? -eq "1" ]]
then
  echo "?? neovim needs to be installed"
  sudo apt update && sudo apt install -y libfuse2
  curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
  chmod u+x nvim.appimage
  mv nvim.appimage ~/bin/nvim
  echo "-- Installed neovim"
else
  echo "-- neovim is installed"
fi
